*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #f2d06b91;
}
.img-mantis{
    width: 600px;
    height: 430px;
}

#head{
    background-color: #024873d7;
    height: 80px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    padding: 20px;
}
#navegation{
    background-color: #037e8cc2;
    height: 25px;
    padding: 20px;
}
.link-nav{
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    color: white;
}

#content-main{
    max-width: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.774);
    margin: auto;
    background-color: white;
    padding: 20px;
}

.change-article{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
}